<!DOCTYPE html>
<html>
  <head>
    <title>GageVote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="/images/mGage-logo.png" style="height: 150px; width: 250px;">
    <%= yield %>
  </body>
</html>
